@charset "utf-8";
/* CSS Document */
@font-face 
{font-family: semi;
src:url("../Fonts/OpenSans-Semibold.ttf"); }
@font-face 
{font-family: ral;
src:url("../Fonts/Raleway-Regular.ttf");}
@font-face
{font-family: ral-light;
src: url("../Fonts/Raleway-Light.ttf");}
@font-face
{font-family: ral-regu;
src: url("../Fonts/Raleway-Regular.ttf");}
@font-face
{font-family: bol;
src: url("../Fonts/OpenSans-Bold.ttf");}
@font-face
{font-family: regu;
src: url("../Fonts/OpenSans-Regular.ttf");}

.Big
{height: 800px;
background: none;
position: relative;}
	.Bg
	{width: 100%;
	height: 100%;
	background: url("../Images/background.png") no-repeat;
	background-position: top;
	background-size: cover;
	z-index: -1;
	filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	left: 0px;}


	.Header
	{width: 102;
	height: 72px;
	background: black;
	background-size: cover;
	background-position: center;
	margin: 0px 0px 110px;
	padding:  23px 0px 0px;
	z-index: 5;}
		.Header img
		{width: 30%}
		ul
		{list-style: none;
		padding: 0px 120px 0px 0px;
		justify-content: center;}
		ul li 
		{float: right;
		padding: 0px 0px 0px 70px;}
		ul li a
		{color: white;
		text-decoration: none;
		font-size: 14px;
		font-family: semi;
		opacity: 0.7;}

		.Logo
		{width: 175px;
		height: 60px;
		background: url("../Images/logo.png") no-repeat;
		position: absolute;
		left: 354px;
		z-index: 5;
		top: 215px;}
		.Text
		{width: 512px;
		height: 200px;
		font-family: ral;
		font-size: 36px;
		position: absolute;
		left: 340px;
		top: 315px;
		line-height: 42px;}
			hr
			{height: 2px!important;
			position: relative;
			left: 3px;
			opacity: 1!important;
			top: 15px;}
		.Text2
		{width: 460px;
		height: 60px;
		font-family: ral-light;
		font-size: 16px;
		position: absolute;
		top: 475px;
		left: 341px;
		opacity: 0.6;}
		.Big Button
		{border: 2px #FFFFFF solid;
		background: none;
		width: 135px;
		height: 42px;
		font-family: semi;
		font-size: 15px;
		color: white;
		position: absolute;
		top: 585px;
		left: 353px;}

.Social
{height: 120px;
background-color: white;
position: relative;
padding: 20px 0px;
border: 1px #B0B0B0 solid;}
	.Text3
	{font-family: bol;
	font-size: 20px;
	color: #333333;
	position: relative;}
	.Text4
	{font-family: regu;
	font-size: 14px;
	color: #86878b;
	width: 50%}
	.Logo2
	{position: relative;
	width: 50%;}
		.Logo2 img
		{width: 100%}

.Tabs
{height: 595px;
background: none;
position: relative;}
.Bg3
	{width: 100%;
	height: 100%;
	background: #f5f5f5;
	background-position: center;
	background-size: cover;
	z-index: -1;
	position: absolute;
	bottom: 0px;
	left: 0px;}
.Tab2
{height: 500px;}
.button
{background: none;
top: 125px;
position: relative;}

.button2
{background: none;
top: 125px;
position: relative;}
	.button button
	{background: #ff8b38;
	height: 112px;
	width: 112px;
	border: 1px #FFFFFF solid;
	font-family: bol;
	font-size: 15px;
	color: white;
	border-radius: 5px;}
	.button2 button
	{background: #333333;
	height: 112px;
	width: 112px;
	border: 1px #FFFFFF solid;
	font-family: bol;
	font-size: 15px;
	color: white;
	border-radius: 5px;}
	.Text5
	{font-size: 20px;
	font-family: bol;
	color: black;
	background: none;
	line-height: 110px;
	position: absolute;
	top: 95px;
	left: 300px;}
	.Text6
	{font-size: 14px;
	font-family: regu;
	color: #86878b;
	line-height: 20px;
	position: absolute;
	top: 210px;
	left: 300px;}
	.button3
	{background: none;
	position: absolute;
	top: 400px;
	left: 300px;}
		.button3 button
		{background: #ff8b38;
		height: 46px;
		width: 120px;
		border: 1px #FFFFFF solid;
		border-radius: 5px;
		font-family: semi;
		font-size: 15px;
		color: white;}
	.img1
	{background: none;}
		.img1 img
		{width: 75%;
		position: relative;
		top: 125px;
		left: 60px;}

.Than
{height: 596px;
background: none;}
	.Than img
	{position: relative;
	top: 100px;
	width: 100%;}
.Than1
{font-family: bol;
font-size: 20px;
color: #212121;
line-height: 25px;
position: relative;
top: 100px;}
	.Than1 hr
	{color: #ff8b38;
	width: 64px;
	height: 2px;}
.Than2
{font-family: regu;
font-size: 14px;
color: #86878b;
line-height: 20px;
position: relative;
top: 130px;}
.Than3
{background: none;}
	.Than3 img
	{position: relative;
	top: 180px;
	width: 50%!important;}
.Than4
{font-family: semi;
font-size: 14px;
color: #212121;
line-height: 17px;
position: relative;
top: 175px;
left: -20px;}
.Than5
{font-family: regu;
font-size: 14px;
color: #86878b;
line-height: 20px;
position: relative;
top: 180px;
left: -20px;}
.Than6
{background: none;
position: relative;
padding: 42px 0px;}
.Than7
{background: none;
position: relative;
left: 80px;}

.Body
{background: #f5f5f5;
height: 524px;
position: relative;
top: 80px;}
	.img2 img
{width: 100%;
position: relative;
top: 20px;}
.Body1
{font-family: bol;
font-size: 20px;
color: #212121;
line-height: 22px;
position: relative;
left: 80px;	
top: 100px;}
	.Body1 hr
	{color: #ff8b38;
	width: 64px;
	height: 2px;}
.Body2
{font-family: regu;
font-size: 14px;
color: #86878b;
line-height: 20px;
position: relative;
top: 130px;
left: 80px;}             		

.Aw
{background: none;
height: 490px;
position: relative;
top: 80px;}
.Aw1
{font-family: ral-regu;
font-size: 36px;
color: #212121;
line-height: 30px;
position: relative;
top: 80px;}
	.Aw1 hr
	{color: #ff8b38;
	width: 64px;
	height: 2px;}
.Aw2
{font-family: regu;
font-size: 14px;
color: #86878b;
line-height: 20px;
position: relative;
top: 110px;}
.Aw3
{background: none;
position: relative;
top: 180px;}
.Aw4
{font-family: bol;
font-size: 20px;
color: #333333;
line-height: 60px;}
.Aw5
{font-family: regu;
font-size: 14px;
color: #86878b;
line-height: 20px;}	

.Pricing
{background: #f5f5f5;
height: 850px;
position: relative;
top: 150px;}
.Pricing2
{background: none;
position: relative;
top: 180px;
text-transform: uppercase;
font-family: regu;
font-size: 14px;
line-height: 40px;
color: #86878b;}
	.Pricing2 img
	{width: 90%;}
	.Pricing3 img
	{width: 90%;}
.Pricing3
{background: none;
position: relative;
top: 140px;
text-transform: uppercase;
font-family: regu;
font-size: 14px;
line-height: 40px;
color: #86878b;}
.Pricing4
{height: 800px;
position: relative;
top: 40px;}

.Bot
{height: 320px;
background: none;
position: relative;
top: 100px;}
	.Bg2
	{width: 100%;
	height: 100%;
	background: url("../Images/Bg2.png") no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	filter: brightness(30%);
	position: absolute;
	bottom: 0px;
	left: 0px;}
.Bot1
{font-family: ral;
font-size: 36px;
color: white;
line-height: 30px;
position: relative;
top: 90px;}
	.Bot1 hr
{width: 74px;}
.Bot2
{font-family: ral-light;
font-size: 16px;
color: white;
opacity: 0.5;
position: relative;
top: 120px;}
.Bot3
{position: relative;
background: none;
top: 150px;}
	.Bot3 button
{width: 135px;
height: 42px;
background: none;
color: white;
font-family: semi;
font-size: 15px;
border: 2px #FFFFFF solid;}

.LastBot
{height:420px;
background: none;
position: relative;
top: 200px;}
	.Bot4
	{font-family: ral;
	font-size: 36px;
	color: #212121;
	line-height: 30px;
	position: relative;}
		.Bot4 hr
		{width: 64px;
		color: #ff8b38;}
	.Bot5
	{font-family: regu;
	font-size: 14px;
	color: #86878b;
	position: relative;
	top: 30px;}
.Box
{background: none;
position: relative;
height: 420px;}
.Box1
{font-family: regu;
font-size: 14px;
color: #bdbdbd;
position: relative;
top: 5px;
left: 40px;}
.Box2 text
{font-family: regu;
font-size: 14px;
color: #bdbdbd;}
.Box2
{padding: 0px 0px 15px;}
	.Box2 hr
	{color: #bdbdbd;
	position: relative;
	top: -20px;
	left: -10px;
	width: 600px;
	opacity: 0.4;}
	.Box1 hr
	{color: #bdbdbd;
	position: relative;
	top: 135px;
	left: -10px;
	width: 600px;
	opacity: 0.4;}
.Box3
{position: relative;
top: -20px;}
	.Box3 button
	{background: #ff8b38;
	height: 46px;
	width: 148px;
	font-family: semi;
	font-size: 15px;
	color: white;
	border: none;
	border-radius: 5px;
	position: relative;
	top: 30px;}
	
footer
{width: 100%;
background: black;
height: 100px;
overflow: hidden;}
.fot1
{font-family: regu;
font-size: 12px;
color: white;
opacity: 0.5;
top: 12px;
position: relative;}
.fot2
{position: relative;
top: 30px;}

	
	
	
	
	